name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shardIndex: [1, 2, 3, 4]
        shardTotal: [4]
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Run type checks
      run: npx tsc -p tsconfig.json --noEmit  
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test --shard=${{ matrix.shardIndex }}/${{ matrix.shardTotal }}
    - name: Upload blob report to GitHub Actions Artifacts
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v4
      with:
        name: blob-report-${{ matrix.shardIndex }}
        path: blob-report
        retention-days: 1
    - name: Upload Playwright traces (optional, if needed for manual download)
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: blop-playwright-traces-${{ matrix.shardIndex }}
        path: test-results.zip # Adjust path if traces are in a different location    
  merge-reports:
    # Merge reports after playwright-tests, even if some shards have failed
    if: ${{ !cancelled() }}
    needs: [test]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci

    - name: Download blob reports from GitHub Actions Artifacts
      uses: actions/download-artifact@v5
      with:
        path: all-blob-reports
        pattern: blob-report-*
        merge-multiple: true

    - name: Merge into HTML Report
      run: npx playwright merge-reports --reporter html ./all-blob-reports

    - name: Upload HTML report
      uses: actions/upload-artifact@v4
      with:
        name: html-report--attempt-${{ github.run_attempt }}
        path: playwright-report
        retention-days: 14

    - name: Download trace blob reports from GitHub Actions Artifacts
      uses: actions/download-artifact@v5
      with:
        path: all-blop-playwright-traces
        pattern: blop-playwright-traces-*
        merge-multiple: true

    - name: Merge into Trace Report
      run: npx playwright merge-reports --reporter trace ./all-blop-playwright-traces

    - name: Upload Trace report
      uses: actions/upload-artifact@v4
      with:
        name: trace-report--attempt-${{ github.run_attempt }}
        path: playwright-trace
        retention-days: 14    
        
